.hidden {
	font-color: red;
	font-size: 15pt;
}

div.description {
	font: 15px Arial;
	position:fixed;
	background-color: #ffffff;
	opacity: 0.95;
	top: 10px;
	right: 10px;
	width: 300px;

}

div.itemlist {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: #ffffff;
	opacity: 0.95;
	font: 20px arial;
	padding-bottom: 5px;
}

ul {
	padding: 5px;
	margin: 5px;
}

ul li {
    background: #cce5ff;
    list-style: none;
    padding: 5px;
    margin: 5px;
}


div.wiki, div.desc, h4 {
	padding: 5px;
	margin: 1px;
}

div.form {
	padding: 5px;
	margin: 5px;
	font: 10px arial;
	color: dimgray;
}

div.selected {
	background-color: red;
}

h3 {
	padding: 5px;
	margin: 5px;
	text-align: center;
}

a.wikilink {
	float: right;
	font: 10px arial;
	text-decoration: none;
	color: blue;
}

div.wiki {
	font: 11px arial;
	color: dimgray;
	margin-top: 5px;
}




