@media only screen and (max-width: 500px) {
    div.itemlist {
        display: none;
    }
}

@media only screen and (min-width: 500px) {
    div.listmenu {
        display: none;
    }
}

.expand {
 display: block !important; 
}

html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

#map { 
	height: 100%; 
	width: 100%; 
}

.hidden {
	color: red;
	font-size: 15pt;
}

.listmenu {
	background-color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 2px	;
}

.description {
	font: 15px Arial;
	position:fixed;
	background-color: #ffffff;
	opacity: 0.95;
	top: 10px;
	right: 10px;
	width: 300px;

}

.itemlist {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: #ffffff;
	opacity: 0.95;
	font: .8em arial;
	padding-bottom: 5px;
}

ul {
	padding: 5px;
	margin: 5px;
}

ul li {
    background: #cce5ff;
    list-style: none;
    padding: 5px;
    margin: 5px;
}


.wiki, .desc, h4 {
	
}

.form {
	padding: 5px;
	margin: 5px;
	font: .6em arial;
	color: dimgray;
}

.selected {
	background-color: red;
}

h3 {
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.wikilink {
	
	font: .7em arial;
	text-decoration: none;
	color: blue;
}

.wiki {
	
	color: dimgray;
	margin-top: 5px;
}




